@font-face 
{
	font-family: 'DroidSans-webfont';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot') format('embedded-opentype'),
         url('DroidSans-webfont.woff') format('woff'),
         url('DroidSans-webfont.ttf') format('truetype'),
         url('DroidSans-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
}
#block-page /* block 1*/
{
    display: flex;
    flex-direction: row-reverse;    
}
aside 
{
    text-align: justify;
    text-align: center;
    background-color: #78909C;
}
h2
{
    font-size: 1.3EM
}
img
{
    margin: 30px 0px 10px 0px;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 90px;
    box-shadow: 0px 4px 4px black;
}
.block-loisirs /* block ASIDE en bas gauche*/
{
    margin: 827px 00px 20px 0px
}
.fa-table-tennis, .fa-anchor, .fa-hands-helping /* PICTOGRAMME LOISIRS bas gauche*/
{
    color: black;
    font-size:1.5em;
    margin: 10px 5px 30px 5px;
    border: 5px solid black;
    padding: 17px;
    border-radius: 50%
}
h1  /* JULIEN */
{
    font-family: DroidSans-webfont;
    font-size: 3EM;
    color: #78909C;
    margin: 50PX 10px 0px 50px;
}
h3 /* TITRES ASIDE */
{
    padding: 3px 0px 3px 0px;
    text-align: center;
    background-color: black;
    color: #78909C
}
span /* barailles seul*/
{
    color: #212121;
}
aside p
{
    text-align: left;
    margin: 0px 35px 0px 35px;
}
h2, h3, strong /* différents titres */
{
    font-family: DroidSans-webfont;
}
hr /* BARRES parametre généraux */
{
    height: 2px;
    background-color: #78909C
}
header hr /* BARRES générales */
{
    margin: 5px 0px 0px 44px;
    width: 10%;  
}
header h2 /* Développeur web freelance */
{
    color: black;
    margin: 0px 0px 0px 42px
}
.fa-circle, .fa-dot-circle, .fa-suitcase, .fa-pen, .fa-graduation-cap /* picto main block */
{
    color: #78909C;
    margin: 0px 10px 0px 0px;
}
.c1, .c2
{
    display: flex;
    flex-direction:column;
    margin: 0px 50px 0px 40Px;
    font-weight: bold;
}
article ul
{
    display: flex;
    flex-direction:column
}
li
{   
    display: flex
}
.picto1
{
    display: flex;
    width: 133%;
}
.picto2
{
    display: flex;
    width: 60%;
}
.picto3
{
    display: flex;
    width: 102%;
}
.picto7
{
    display: flex;
    width: 97%
}
.picto5
{
    display: flex;
    width: 64%;
}
.picto6
{
    display: flex;
    width: 56%;
}
.aft, .open, .ifa, .lsl, .carrouf, .keolis
{
    margin: 0px 60px 0px 40px;    
}
.c3
{
    display: flex;
}
.ss-titre
{
    margin: 0px 60px 0px 40PX
}
.fa-dot-circle + p
{
    margin-top: 0px    
}
#t1, #t2, #t3, #t4, #t5, #t6, strong
{
    margin-top: 0px;
    font-weight: bold;
}
.block-parcours, .recommandations
{
    margin-top: 50px;
}
.block-recommandations
{
    margin-top: 50px;
    margin-bottom: 40px
}
p
{
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 25px
}

@media all and (max-width: 767px) /* DISPLAY SMARTPHONE*/ {
    .block-contact
    {
        display: none
    }
    header
    {
        background-color: #78909C;
    }
    header hr
    {
        display: none
    }
    img
    {
        display: none
    }
    #block-page
    {
        display: block
    }
    header h2
    {
        color:#FFFFFFFF;
        margin-left: 0px;
        padding: 0px 20px 20px 20px;
    }
    header p
    {
        text-align: center
    }
    h1, span
    {
        color:#FFFFFFFF
    }
    h1
    {
        margin: 0PX 0px 25px 00px
    }    
    header
    {  
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    aside
    {
        display: block;
        width: 100%
    }  
    .block-loisirs, .block-contact
    {
        margin: 0 0 0 0;
        width: 100%;
        padding-bottom: 30px;
    }
    .block-profil
    {
        margin: 0 0 0 0;
        width: 100%;
        padding-bottom: 30px;   
    }
    .block-recommandations
    {
        margin-top: 50px
    }
    .c1, .c2
    {
        margin: 20px 0 0 0;
        display: block;
    }
    .c3
    {
        display: block
    }
    h3
    {
        margin-top: 0px
    }
    li
    {
        display: block
    }
    p
    {
        line-height: 1.6em;
        text-align: justify
    }
    aside p
    {
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
    }
    .picto1, .picto2, .picto3, .picto7, .picto5, .picto6
    {
        width: 100%
    }
    .aft, .open, .ifa, .lsl, .carrouf, .keolis
    {
        margin: 0px 40px 0px 0px;
        text-align: center
    }
    .ss-titre
    {
        margin-right: 40px;
    }
    .block-recommandations p
    {
        text-align: center;
    }
    h4
    {
        display:none
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) 
/* RESPONSIVE POUR TABLETTE*/ {
    h4
    {
        display:none
    }
    .block-formation, .block-parcours, .block-recommandations
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    header
    {
        background-color: #78909C;
    }
    header hr
    {
        background-color: #FFFFFF;
        margin: 13px 0px -18px 98px;
        width: 35%;
        display: none
    }
    img
    {
        display: none
    }
    #block-page
    {
        display: block
    }
    header h2
    {
        color:#FFFFFFFF;
        margin-left: 0px
    }
    h1, span
    {
        color:#FFFFFFFF
    }
    h1
    {
        margin: 0PX 0px 25px 00px
    }    
    header
    {
        padding-top: 20px;
        padding-bottom: 40px;
        text-align: center;
    }
    aside
    {
        display: block;
        width: 100%
    }  
    .block-loisirs, .block-contact
    {   
        margin: 0 0 0 0;
        width: 100%;
        padding-bottom: 30px
    }
    .block-profil
    {
        margin: 0 0 0 0;
        width: 100%;
        padding-bottom: 30px;   
    }
    .block-recommandations
    {
        margin-top: 50px
    }
    .c1, .c2
    {
        margin: 0 100px 30px 40px;
        display: block;
    }
    .c3
    {
        display: flex
    }
    h3
    {
        margin-top: 0px
    }
    li
    {
        display: block
    }
    p
    {
        line-height: 1.6em;
        text-align: justify
    }
    aside p
    {
        text-align: center;
        margin-left: 40px;
        margin-right: 40px;
    }
    .picto1, .picto2, .picto3, .picto7, .picto5, .picto6
    {
        width: 100%
    }
    .aft, .open, .ifa, .lsl, .carrouf, .keolis
    {
        margin: 0px 40px 0px 0px;
        text-align: justify
    }
    .ss-titre
    {
        margin-right: 40px;
    }
    .block-contact2
    {
        display: none
    }
}

@media screen and (min-width: 1024px) /* RESPONSIVE POUR DESKTOP*/ {
    #block-page
    {
        border-width:1px;
        border-style:solid;
        border-color:black;
    }
    body
    {
        max-width: 900px;
        width: 100%;
    }
    .block-contact2
    {
        display: none
    }
    h4
    {
        display:none
    }
}
